{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>

	<!--<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="../css/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../fonts/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link rel = "stylesheet" type="text/css" href="../css/Table.css"/>
	-->
	<link rel="stylesheet" type="text/css" href="{% static 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/Table.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}" />
	
</head>
<body>

<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
            <a> <img src="{% static 'images/logo.png' %}"/> </a>
			</div>

		<div id="menu">
			<ul>
				<li><a href="" title="">Perfil de Usuário</a></li>
				<li class="current_page_item"><a  accesskey="1" title="">Inventário - CAM Tecnologia</a></li>
				<li><a href="/contas/logout/" title="">SAIR</a></li>
			</ul>
		</div>
	</div>
</div>
	<ul id="nav" >

		<li><a href="/projetos/">Projeto</a></li>
		<li><a href="/componentes/">Componentes</a></li>
		<li><a href="/dispositivos/">Dispositivos</a>
		<li><a href="/contatos/">Contatos</a>
		<li><a href="/instituicoes/">Instituições</a>

			<ul>
				<li><a href="/instituicoes/unidades/">Unidades</a></li>
			</ul>

		</li>


	</ul>
	<div >
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<style type="text/css">
				* { margin: 0; padding: 0; font-family:Arial; font-size:9pt;}
				#divCenter { 
						background-color: #e1e1e1; 
						left: 50%; 
						margin: 80px 0 0 -540px; 
						padding:10px;
						position: absolute; 
						top: 50%; }
			</style>
		</head>
		<body>
			<div class="container">
				<div class="row">
				  <div class="col-md-6 img">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q"  alt="" class="img-rounded">
				  </div>
				  <div class="col-md-6 details">
					<blockquote>
					  <h5>Usuário Cam Tecnologia</h5>
					  <small><cite title="Source Title">Verifique e edite suas informações aqui</i></cite></small>					</blockquote>
					<p>
					  <div id="divCenter">
											  <h1>Editar Perfil</h1>
					  <form action="{% url 'usuario_edita' %}" method="post">
						  {% csrf_token %}
			  
						  {{form.as_p}}
			  
						  <button type="submit">Salvar alterações</button>
			  
					</p>
				  </div>
				</div>
			  </div>
			  
			  
        </div>
	</body>
</div>

</body>
</html>
