{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<!--<link href="../css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/fonts.css" rel="stylesheet" type="text/css" media="all" />-->

<link rel="stylesheet" type="text/css" 
	href="{% static 'css/default.css' %}" />

<link rel="stylesheet" type="text/css" 
	href="{% static 'css/fonts.css' %}" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
            <a> <img src="{%static 'images/logo.png' %}"/> </a>
			</div>

		<div id="menu">
			<ul>
				<li class="current_page_item"><a  accesskey="1" title="">Faça Login e Acesse o Inventario</a></li>
				<li><a href="contas/login" title="">Login</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="header-featured"> </div>


	<div id="extra" class="container">
		<h1>SOBRE NOS</h1>

        <a href="http://www.camtecnologia.com.br/" class="button">Acesse o nosso site</a> </div>


<div id="banner-wrapper">
	<div id="banner" class="container">
		<a> <img src="{% static 'images/telefone.png' %}"><br /> </a>
		<a  accesskey="1" title=""><b>+55 21 3189-1050      +55 21 2260-0324      +55 21 99700-9119</b></a>
	</div>
</div>

</body>
</html>
