{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>

	<!--<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
    <link href="../css/default.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../fonts/fonts.css" rel="stylesheet" type="text/css" media="all" />
    <link rel = "stylesheet" type="text/css" href="../css/Table.css"/>
	-->
	<link rel="stylesheet" type="text/css" href="{% static 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/Table.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}" />

</head>
<body>

<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
            <a> <img src="{% static 'images/logo.png' %}"/> </a>
			</div>

		<div id="menu">
			<ul>
				<li class="current_page_item"><a  accesskey="1" title="">Inventário - CAM Tecnologia</a></li>
				<li><a href="/contas/logout/" title="">SAIR</a></li>
			</ul>
		</div>
	</div>
</div>
	<ul id="nav" >

		<li><a href="/projetos/">Projeto</a></li>
		<li><a href="/componentes/">Componentes</a></li>
		<li><a href="/dispositivos/">Dispositivos</a>
      <li><a href="/contatos/">Contatos</a>
		<li><a href="/instituicoes/">Instituições</a>

			<ul>
				<li><a href="/instituicoes/unidades/">Unidades</a></li>
			</ul>

		</li>


	</ul>
	<div >
		<table id="CAMTecnoligaTabela">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <caption><h2>Contatos</h2></caption>
  <thead>
    <tr>
      <th><font color="#FFFFFF">Nome</font></th>
      <th><font color="#FFFFFF">Email</font></th>
      <th><font color="#FFFFFF">Telefone</font></th>
			<th></th>
			<th></th>
    </tr>
  </thead>

  <tbody>
		{% for contato in contatos %}
			<tr>
					<td>{{contato.nome}}</td>
          <td>{{contato.email}}</td>
					<td>{{contato.telefone}}</td>
					<td><a href="{% url 'contato_edita' contato.id %}"><input type="button" class="edit-button"></a></td>
					<td><a href="{% url 'contato_remove' contato.id %}"><input type="button" class="delete-button"></a></td>
			</tr>
		{% endfor %}

  </tbody>
</table>
<form>
   <div id="botao">
		<a href="/contatos/add/"><input class="butn" type="button" value="Adicionar"></a>
   </div>
</form>
		</div>
		<form action="" method ="submit" class="pesquisa" href="{% static 'css/style.css' %}">
			<input type="search" placeholder="Pesquise o item desejado">
			<button type="submit">Pesquisar</button>
			  <style>
			*{
			margin: 0;
			padding: 0;
			}
			.pesquisa{
			width: 350px;
			height: 40px;
			margin: 10px auto;
			padding: 5px 5px;
			}
			.texto{
			width: 350px;
			height: 40px;
			font-family: 'Arial';
			font-size: 20px;
			}
			.btn{
			width: 15px;
			height: 15px;
			padding: 5px 5px;
			cursor: pointer;
			}

			</style>
			</form>
</body>
</html>
