{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Menu</title>

	<link rel="stylesheet" type="text/css" href="{% static 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/Table.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/fonts.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/notes.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/subir.css' %}" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function(){
jQuery("#subirTopo").hide();
jQuery('a#subirTopo').click(function () {
         jQuery('body,html').animate({
           scrollTop: 0
         }, 800);
        return false;
   });
jQuery(window).scroll(function () {
         if (jQuery(this).scrollTop() > 1000) {
            jQuery('#subirTopo').fadeIn();
         } else {
            jQuery('#subirTopo').fadeOut();
         }
     });
});
</script>


</head>
<body>
	<a id="subirTopo">
		^ <br> subir
	</a>
<div id="header-wrapper">
	<div id="header" class="container1">
		<div id="logo">
            <a> <img src="{% static 'images/logo.png' %}"/> </a>
			</div>

		<div id="menu">
			<ul>
				<li><a href="/usuarios/usuario-edita/" title="">Perfil de Usuário</a></li>
				<li class="current_page_item"><a  accesskey="1" title=""><b>Inventário - CAM Tecnologia</b></a></li>
				<li><a href="/contas/logout/" title="">SAIR</a></li>
			</ul>
		</div>
	</div>
</div>
	<ul id="nav" >

		<li><a href="/projetos/">Projeto</a></li>
		<li><a href="/componentes/">Componentes</a></li>
		<li><a href="/dispositivos/">Dispositivos</a>
		<li><a href="/contatos/">Contatos</a>
		<li><a href="/instituicoes/">Instituições</a>

			<ul>
				<li><a href="/instituicoes/unidades/">Unidades</a></li>
			</ul>

		</li>


	</ul>
	<div >

        <caption><center><h2>Notas</h2></center><div align="right">
					<form  action="#" method ="submit" class="pesquisa" href="{% static 'css/style.css' %}">
						<a id="botao" href="{% url 'add_nota' idUnidade %}"><input class="butn" type="button" value="Adicionar" size="2"></a>
						<input  type="search" name="search" placeholder="Pesquise a nota desejada">
					<button type="submit">Pesquisar</button>
					</form>
				</div></caption>
	  </div>

</div>

</body>
<body>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
		</style>
		</head>
		<body>

		<div class="timeline">
		  <div class="container left">
			<div class="content">
				<h2>2017</h2>
				<p><a href="#"><input type="button" class="edit-button"></a></p>
			  <p>Me diga onde você vai, que eu vou varrendo. Eu vou varrendo, eu vou varrendo,eu vou varrendo,eu vou varrendo.</p>
			</div>
		  </div>
		  <div class="container right">
			<div class="content">
			  <h2>2016</h2>
			  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
			</div>
		  </div>
		  <div class="container left">
			<div class="content">
			  <h2>2015</h2>
			  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
			</div>
		  </div>
		  <div class="container right">
			<div class="content">
			  <h2>2012</h2>
			  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
			</div>
		  </div>
		  <div class="container left">
			<div class="content">
			  <h2>2011</h2>
			  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
			</div>
		  </div>
		  <div class="container right">
			<div class="content">
			  <h2>2007</h2>
			  <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis ea eam.</p>
			</div>
		  </div>
		</div>

		</body>
</html>
